@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Catamaran:wght@100..900&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Kosugi&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Prata&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Catamaran:wght@100..900&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Kosugi&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Prata&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-aqua:#00d9d9;
    --color-titulos:#000;
    --color-contenido: #2d2d2d;
    --bg-header:#000;
    --bg-footer:#222222;
}

body{
    color:var(--color-contenido);
    font-family: "Raleway", sans-serif;
}

header{
    background-color: var(--bg-header);
    padding: 20px 0;
}

h1, h2, h3, h4 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

.titulos{
     font-family: "Montserrat", sans-serif;
}

.texto-cursiva{
    font-family: "Raleway", sans-serif;
    font-style: italic;
    font-size: 20px;
    font-weight: 600;
}

#hero{
    background-image: url("../img/slide-1.jpg ");
    background-size:cover;
    background-position: center;
    padding: 10% 0;
    text-align: left;
    color: white;
}

footer{
    background-color: var(--bg-footer);
    color: #888;
    padding: 30px 0;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
}

footer p span{
    color: var(--color-aqua);
}

#hero h4.texto-grande {
    font-size: 2.5em; 
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 10px;
}

#hero h1.texto-cursiva {
    font-size: 1.5em; 
    font-style: italic;
    font-weight: 300;
    margin-bottom: 20px;
    font-family: sans-serif;
}

#hero a.btn {
    display: inline-block;
    border-radius: 0;
    margin: 5px 10px 5px 0;
    padding: 8px 15px;
}

#hero a.btn.btn-inquiry{
    background-color: var(--color-aqua);
    font-family: "Raleway", sans-serif;
    color:#fff;
}

#hero a.btn.btn-doctors {
    background-color: transparent;
    border: 1px solid white;
    font-family: "Raleway", sans-serif;
    color:#fff;
}

#services {
    padding: 30px 0;
    font-family: 'Raleway', sans-serif;
}

.iconos {
    width: 60px;
    height: 60px;
    background-color: #e0f8f8;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    margin: 0 auto 15px;
}

#services .service-icon i {
    color: var(--color-aqua);
    font-size: 2em;
    vertical-align: middle;
}

#services h3 {
    font-weight: bold;
    margin-bottom: 10px;
}

#services p {
    font-size: 1em;
}

#services .col-md-4 {
    margin-bottom: 30px;
}

#testimonios {
    background-color: #F9F9F9;
    padding: 50px 0;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

#about{
    padding: 30px 0;
}

#about .col-md-8 {
    padding-left: 20px;
}
.testimonio-estrellas{
	color:#FFDA03;
}